.first{
      background: url("../img/cover.jpg") center center fixed no-repeat; 
        background-size: cover;
    }
    
.header{
    font-size: 12pt;
    text-align: right;
    margin-right: 1.5em;
}

.header > a{
    text-decoration: none;
    font-family: candara;
    padding: .5em;
}
.header.white > a{
    color: #FFFFFF;
}
.header.gray > a{
    color: #848484;
}
.photo{
   text-align: center;
       margin: 3em 0em 0em 0em;
}
.photomy{
    width: 8%;
}
.cnname{
    font-size: 12pt;
    font-family: 微軟正黑體;
    margin: .4em 2em 0em 2em;
}
.enname{
    font-size: 20pt;
    font-weight: bold;
    font-family: Tahoma;
    margin: 0em 2em .6em 2em;
}
.mail{
    font-size: 8pt;
    font-family: "candara";
}    


.phone{
    font-size: 8pt;
    font-family: "candara";
}

.about-line{
    border-top: 1px solid #848484;
    width: 30px;
    height: 1px;
    display: inline-block;
    margin: 0em 2em .2em 2em;
}