 .header{
      font-size: 30pt;

      color: white;
      background: orange; 
      width: 10%; 
      text-align: center;
      display: inline-block;
      }
      
     .menu{
     font-size: 30pt;

     color: white;
     background: black;
     width: 60%;
     text-align: center;
     display: inline-block;
     }
     
     .content{
     font-size: 30pt;

     color:white;
     background: pink;
     width: 70.5%;
     height: 500px;
     text-align: center;
     display: block;
     
     margin-top: .1em
     }