
body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;     
}

#ontopDiv {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10000;
    background-color:#F7F6F5;
}

ul {
    list-style-type: none;
    margin: 1.45em .8em 1.45em auto;
    text-align: right;
}

#logo{
    margin: .8em auto 0 0;
    margin-left: 1.7%;
    position: absolute;
}

ul li {
    display: inline-block;
    margin: 0 16px;
    position:relative;
}

.content {
    font-size: 13px;
    color: #584e4a;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 6px;
}
.content:before,
.content:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #f37272;
}
.content:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.content:after {
    opacity: 0;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.content:hover:before,
.content:hover:after,
.content:focus:before,
.content:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.content:hover:before,
.content:focus:before {
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.content:hover:after,
.content:focus:after {
    -webkit-transition: -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

.top {
    background-image: url(../img/bg-top.jpg) center center fixed no-repeat;
    background-size: cover;
}

    @import "https://fonts.googleapis.com/css?family=Salsa|Pacifico";
:root {
    --spread: .5em;
    --shift: .01em;
    --base: #FF6D00;
    --c1: #FFCF57;
    --c2: #A5A5A5;

}
@-webkit-keyframes flicker1 {
    95% {
        text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--base), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 var(--spread) var(--base), 0 0 calc(var(--spread) / 1.5) var(--base);
    }
    98% {
        text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
    }
}
@keyframes flicker1 {
    95% {
        text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--base), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 var(--spread) var(--base), 0 0 calc(var(--spread) / 1.5) var(--base);
    }
    98% {
        text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
    }
}
@-webkit-keyframes flicker2 {
    98% {
        opacity: .1;
        text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
    }
}
@keyframes flicker2 {
    98% {
        opacity: .1;
        text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
    }
}

h3 {
    font-family: 'Lobster', cursive;
    font-weight: 300;
    margin: .7em 0 0 -.1em;
    font-size: 4em;
    letter-spacing: -.01em;
    -webkit-transform: rotate(-12deg);
    transform: rotate(-9deg);
    color: transparent;
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--base), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 var(--spread) var(--base), 0 0 calc(var(--spread) / 1.5) var(--base);
}
h3 span:nth-child(1) {
    -webkit-animation: flicker1 .44s infinite alternate ease-in-out;
    animation: flicker1 .44s infinite alternate ease-in-out;
}
h3 span:nth-child(2) {
    -webkit-animation: flicker1 1.8s infinite alternate ease-in-out;
    animation: flicker1 1.8s infinite alternate ease-in-out;
}


h4 {
    font-family: 'Lobster', cursive;
    font-weight: 300;
    margin: 0em -.5em 0 0;
    font-size: 1.7em;
    letter-spacing: -.01em;
    -webkit-transform: rotate(-12deg);
    transform: rotate(-9deg);
    color: transparent;
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--base), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 var(--spread) var(--base), 0 0 calc(var(--spread) / 1.5) var(--base);
}
h4 span:nth-child(1) {
    -webkit-animation: flicker1 1s infinite alternate ease-in-out;
    animation: flicker1 1s infinite alternate ease-in-out;
}
h4 span:nth-child(2) {
    -webkit-animation: flicker1 1.5s infinite alternate ease-in-out;
    animation: flicker1 1.5s infinite alternate ease-in-out;
}
h4 span:nth-child(3) {
    -webkit-animation: flicker1 .47s infinite alternate ease-in-out;
    animation: flicker1 .47s infinite alternate ease-in-out;
}
h4 span:nth-child(4) {
    -webkit-animation: flicker2 .15s infinite alternate ease-in-out;
    animation: flicker2 .15s infinite alternate ease-in-out;
}

p {
    margin: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
}

main {
    text-align: center;
    padding: 0 auto;
    font-size: 3.5vmin;
    color: #fff;
}

.top {
    height: 100%;
}
.top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: url(../img/bg-top-gl4.jpg);
    background-image: url(../img/bg-top.jpg) fixed no-repeat;
    background-image: url(../img/bg-top.jpg) fixed no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.about {
    
    background-color: #F7F6F5; 
    display: block;
    padding:4.5em 0 0 0;
    margin: 0;
    text-align: center;
}
.about2 {  
    background-color: #F7F6F5; 
    display: inline-block;
    margin: 0, auto;
    text-align: center;
}
.my-photo{
    width: 20%;
}
.cnname{
    font-family: 微軟正黑體;
    font-size: 16pt;
    font-weight: 700;
    margin: .7em auto 0em auto;
}
.enname2{
    font-size: 10pt;
    font-weight:bold;
    margin: -.05em 0em -.3em 0em;
}
.about-line2{
    border-top: 1px solid #FF4545;
    width: 18px;
    
    display: inline-block;
    margin: 0, auto;
}
.experience{
    font-size: 9pt;
    font-family: 微軟正黑體;
    font-weight: 700;
    margin: 2.15em 0em 1em 0em;
    display:table;
    text-align: left;
}
.about-textimg{
    width: 44.5%;
    display: inline-block;
    margin: 1.8em auto 0em 0;
    display: center;

}
.about-img{
    width: 50%;
    display: inline-block;
    margin: 2.1em auto 5em auto;
    display:table;
}

.works{
    background-color: #F9D8D2; 
    display: block;
    padding:6em 0 9em 0;
    margin: 0;
    text-align: center;
}
.works-logo{
    width:15.5%;
    display: block;
    margin: -.5em auto 4.5em auto;
}
.works-bg{
    width:65%;
    display: block;
    margin: 0 auto;
}
.works-bg1{
    width:100%;
    display: block;
    margin: 6.2em auto 8em auto;
}
.works-bg2{
    width:1%;
    display: block;
    margin: 3em auto 2em auto;
}
.works-bg3{
    width:6.5%;
    display: block;
    margin: 0 auto -2em auto;
}

.portfilio{
    background-color: #D7E4E8;
    display: block;
    padding:0 0 1em 0;
    text-align: center;
}
.portfilio-logo{
    width:12%;
    margin: -2.5em -0.5em 1.3em 0;
}
.portfilio-bg{
    width:65%;
    display: block;
    margin: 2.5em auto 3.3em auto;
}

.film{
    background-color: #16284C;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.film-img{
    width: 17.5%;
    display: block;
    margin: 0em auto 3em auto;
}
.video-01 {
    background-color: #16284C;
    display: block;
    padding: 5em 0 4.6em 0;
}
.video-01 iframe,
.video-01 object,
.video-01 embed {
    border:0px #FFCF57 solid;
}
.film-stext{
    color: #FFF;
    font-size: 3pt;
    display: block;
    margin: 1.2em 0 0 0;
    }

.contact{
    background-color: #F7F6F5;
    display: inline-block;
    text-align: center;
    width: 61%;
    margin: 2em auto;
    text-align: left;
}

.border01{
    display: inline-block;
    text-align: center;
    margin: 0, auto;
    padding:2.5em 0 0 0;
    position: absolute;
    float: left;
}
.contact-text{
    font-size: 24pt;
    font-weight:bold;
    color: #545249;
}
.c-logo{
    width: 18%;
    padding: 1.3em 0 0 1.5em;
}
.enname{
    font-size: 10pt;
    font-weight:bold;
    color: #545249;
    margin: 0 0 .3em -.7em;
}
.cnname2{
    font-size: 16pt;
    font-weight:bold;
    font-family: 微軟正黑體;
    color: #545249;
    margin: 1.3em 0 .1em 1em;
    text-align: center;
}
.about-line{
    border-top: 1px solid #545249;
    width: 18px;
    display: inline-block;
    margin: -.2em auto -.2em 1.3em;
  
}
.myemail{
    font-size: 9pt;
    color: #545249;
    display: block;
    margin: .5em auto 0 auto;
}

.contact .contact-form {
    display: inline-block;
    width: 32%;
    float: right;
    position: relative;
}
.contact .contact-form input,
.contact .contact-form textarea {
    width: 338px;
    padding: .85em;
    margin: 0 0em .4em 0em;
    color: #6D6C67; 
    border: 0.5px solid #AAA9A2;
}
.contact .contact-form input::placeholder,
.contact .contact-form textarea::placeholder {
    color: #6D6C67;
    font-family: 'Ubuntu', sans-serif;  
    font-size: 9pt;
}
.contact .contact-form .btn-send {
    background: #545249;
    font-family: 'Ubuntu', sans-serif;
    font-size: 9.5pt;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    margin: -.25em auto 0 0em;  
}

footer {
    background-color: #16284C;
    background-size: 100%;
    display: block;
    text-align: center;
    margin-top:0;
}
.j-logo{
    display: inline-block;
    padding: 1.8em 0 0 0;
}
.copyright{
    font-size: 8pt;
    font-family: 'Ubuntu', sans-serif;  
    color: white;
    display: block;
    padding: .8em 0 1.9em 0;
}
